@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 30vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: linear-gradient(90deg, rgb(82, 0, 186), rgb(255, 255, 255) 68%);
    border: 1px solid #7000FF;
    color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next {
    width: 40px;
    height: 40px;
    background-image: url(../public/img/nextSlide.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    cursor: pointer;
    opacity: 0;
}

.prev {
    width: 40px;
    height: 40px;
    background-image: url(../public/img/prevSlide.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
    cursor: pointer;
    opacity: 0;
}

.swiper-slide-active {
    .next {
        opacity: 1 !important;
    }

    .prev {
        opacity: 1 !important;
    }
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: #7000FF;
}



// media 

@media only screen and (min-width: 300px) {
    .next {
        width: 22px;
        height: 22px;
    }

    .prev {
        width: 22px;
        height: 22px;
    }
}

@media only screen and (min-width: 480px) {
    .next {
        width: 30px;
        height: 30px;
    }

    .prev {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .next {
        width: 40px;
        height: 40px;
    }

    .prev {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .swiper {
        height: 420px;
    }
}